<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="QLM Application Automation Test Suite">  
  <test name="QLM Application Test Cases" preserve-order="true">  
    <classes>  
      <class name="com.qlm.qa.testcases.APQPProjectCreatePageTest"/> 
 
      <class name="com.qlm.qa.testcases.APQPProjectPlanPageTest"/>  

    </classes>  
  </test>  
</suite>  