<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="QLM Application Automation Test Suite" parallel="false" preserve-order="true" verbose="1">  

    <listeners>
		<listener class-name="com.qlm.qa.extentreportlistner.ExtentReporterNG" />
		<listener class-name="com.qlm.qa.analyzer.RetryTransformer" />
	</listeners>
 
    <test name="QLM Application Test Case3">  
    <classes>  
      <class name="com.qlm.qa.testcases.LoginPageTest"/> 
       <class name="com.qlm.qa.testcases.HomePageTest"/> 
    </classes>
  </test>   
</suite>  