<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="QLM Application Automation Test Suite">  
  <test name="QLM Application Test Cases">  
    <classes>  
      <class name="com.qlm.qa.testcases.LoginPageTest"/>  
      <class name="com.qlm.qa.testcases.HomePageTest"/>  
    </classes>  
  </test>  
</suite>  